include README.rst
include CHANGES.rst
include LICENSE
include tox.ini

graft jt
#exclude jt/jnius/_jproxy.py
#exclude jt/jnius/_typehandler.py

graft docs
prune docs/_build

graft tests

global-exclude .build .build.*
global-exclude *.py[co] __pycache__
